<div class="lifes-ctn">
  <div class="lifes lifes--grand-parent">
    <div class="lifes__name">
      <h2>Grand parent (<new-render newRender="newRender"></new-render>)</h2>
    </div>
    <div class="lifes__name">
      <button (click)="_updateState('primitive-set')">
        udpate primitive
      </button>
      <button (click)="_updateState('array-primitive-set')">
        update array-primitive
      </button>
      <button (click)="_updateState('object-set')">
        update object
      </button>
      <button (click)="_updateState('item-array-object-set')">
        udpate item in array of object
      </button>
    </div>
    <br />
    <div class="lifes__inner">
      <div>
        <h3>this (props et state)</h3>
        <pre class="layout__item u-1/2-lap-and-up">
{{primitive}}
{{arrayOfPrimitive | json }}
{{object | json}}
{{arrayOfObject | json}}
		</pre
    >
      </div>
    </div>
  </div>
  <app-parent
    [primitive]="primitive"
    [arrayOfPrimitive]="arrayOfPrimitive"
    [object]="object"
    [arrayOfObject]="arrayOfObject"
  ></app-parent>
</div>
{{runChangeDetection}}
